{% extends 'PiupiuBundle:Layout:layout.html.twig' %}
{% block title %}Login{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col s6">
            <form action="{{ path('security_login') }}" method="post">
                <div>
                    <label for="username">{{ 'Username' | trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div>
                    <label for="password">{{ 'Password' | trans }}</label>
                    <input type="password" id="password" name="_password" />
                </div>
                <a href="{{ path('piupiu_pwd_forgot') }}">{{ 'Forgot my password' | trans }}</a>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock body %}
{% block script %}
{% endblock script %}