{% extends 'PiupiuBundle:Layout:layout.html.twig' %}
{% block title %}Login{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col s6">
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
            {{ form_errors(form) }}

            {{ form_row(form.username, {
                'value': last_username
            })}}

            {{ form_row(form.password) }}

            {{ form_row(form.login) }}

            {# rest and end #}
            {{ form_rest(form) }}
            {{ form_end(form) }}
            <a href="{{ path('piupiu_pwd_forgot') }}">{{ 'Forgot my password' | trans }}</a>
            <a href="{{ path('piupiu_pwd_forgot') }}">{{ 'Sign up' | trans }}</a>
        </div>
    </div>
{% endblock body %}
{% block script %}
{% endblock script %}