{% extends 'PiupiuBundle:Layout:layout.html.twig' %}
{% block title %}Change Password{% endblock title %}
{% block body %}
    <div class="row">
        <div class="col s6">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.email)}}

            {{ form_row(form.recover) }}

            {# rest and end #}
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}
{% block script %}
{% endblock script %}